body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: #ffffff;
}

header {
    background-color: #1e1e1e;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

main {
    padding: 20px;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #00aaff;
    padding: 10px;
    margin: 10px;
    border: 2px solid #00aaff;
    border-radius: 5px;
    background-color: rgba(0, 170, 255, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: rgba(0, 170, 255, 0.5);
    color: #ffffff;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.8em;
    color: #888888;
}
